html {
  height: 200vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*👉Main axis👈*/ /*👉Row👈*/
  align-items: center; /*👉Cross axis👈*/ /*👉col👈*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*👉Main axis👈*/ /*👉Row👈*/
  align-items: center; /*👉Cross axis👈*/ /*👉col👈*/
}

/* Add your existing styles for switch and slider */

body {
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
    background-color: #f6f6f6; /* Default color */
}

body.dark-mode {
    background-color: #202020; /* Dark color when checkbox is checked */
}


.nav-container {
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 1200px;
  max-width: 1200px;
  align-self: center;
  border-radius: 12px;
  margin-top: 12px;
}

.flexbox-item {
  display: flex;
  flex: 1;
  position: relative;
  margin: 6px;

  /* border: 1px dotted #000; */
}

.flexbox-item-1 {
  /* 
    This CSS property sets the alignment of a flex item along the cross axis within its flex container. 
    The "align-self" property is used to override the default alignment set by the flex container's "align-items" property for a specific flex item.
    Possible values for "align-self" are:
        - "auto": The default value. The item inherits the value of "align-items" from its parent.
        - "flex-start": The item is aligned at the start of the cross axis.
        - "flex-end": The item is aligned at the end of the cross axis.
        - "center": The item is centered along the cross axis.
        - "baseline": The item is aligned such that its baseline aligns with the baseline of the other flex items.
        - "stretch": The item is stretched to fill the container along the cross axis.
*/
  align-self: center;
}

.flexbox-item-2 {
  align-self: center;
  justify-content: center; /* Aligns child content to the center */
  flex-direction: column;
}

.search-results{
    min-width: 130%;
    position: absolute;
    top: 100%;
    background: #fff;
    align-self: flex-start;
    padding: 16px;
    border: 1px solid #ccc;
}

.flexbox-item-3 {
  align-self: center;
  justify-content: flex-end; /* Aligns child content to the right */
}

.nav-items {
  display: flex;
  flex-direction: row;
  padding: 12px;
  margin: 0;
  /* background-color: #ffffff; */
  cursor: pointer;
  font-size: 14px;
  color: #434343;
}

.nav-items:hover {
  color: #000000;
  font-weight: bold;
}

.nav-items:active {
  color: #000000;
  font-weight: bold;
}

.nav-logo {
  display: flex;
  cursor: pointer;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-right: 24px;
  margin-left: 12px;
  font-size: 24px;
}

.search-box {
  width: 100%;
  height: 44px;
  background-color: #f6f6f6;
  color: #1e1e1e;
  border-radius: 12px;
  border: none;
  padding: 0 16px;
  font-size: 14px;
}

input::placeholder {
  color: #bebebe; /* Replace with your desired color */
}

.nav-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
}

.nav-button {
    cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 20px;
  margin-left: 16px;
  background-color: #2f68cb;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  border-radius: 8px;
}

.nav-button:hover {
  background-color: #2f68cbaf;
}

/* Style the switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004f;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #2f68cbaf;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2f68cb;
}

.switch input:checked + .slider:before {
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-wrapper .search-results{
    background: #fff;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    border-radius: 12px;
    box-shadow: 0px 20px 25px -5px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
  }
  
  .search-wrapper.active .search-results{
    padding: 10px 8px;
    opacity: 1;
    margin-top: 20px;
    pointer-events: auto;
  }
  
  .search-results li{
    list-style: none;
    padding: 12px 12px;
    display: none;
    cursor: default;
    border-radius: 6px;
    color: #808080;
  }
  
  .search-wrapper.active .search-results li{
    display: block;
  }
  .search-results li:hover{
    background: #E5F1FF;
    color: #006BE6;
  }
  